<header>
    <h1>WS-Brew-Sim</h1>
    <nav class="navbar">
        <button class="navbutton" hx-get="/landing" hx-swap="innerHTML" hx-target="#main-content" hx-trigger="load, click">Home</button>
        <button class="navbutton" hx-get="/units" hx-swap="innerHTML" hx-target="#main-content">Units</button>
        <button class="navbutton" hx-get="/jobs" hx-swap="innerHTML" hx-target="#main-content">Process</button>
        <button class="navbutton" hx-get="/simulation" hx-swap="innerHTML" hx-target="#main-content">Simulation</button>
    </nav>
</header>
